.channel-container {
   display: flex; 
   flex-direction: column;
   align-items: flex-start;
   width: 245px;
   height: 100vh;
   background-color: #2F3136;
}

.server-name-header{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 20px;
   font-size: large;
}

#channels{
   display: inline-block;
   width: 100%;
   padding: 5px;
}

#channel-header {
   display: flex;
   width: 100%;
   box-sizing: border-box;
   justify-content: space-between;
   padding-right: 10px;
   color: #8E9297;
}

#channel-header > h2 {
   margin-top: 10px;
   font-size: 18px;
   margin-bottom: 5px;
}

#channel-header:hover{
   color: #DCDDD9;
   cursor: pointer;
}

// Create channel button
#create-channel {
   align-self: center;
   margin-right: 15px;
   font-size: larger;
}

// Delete channel button
.destroy {
   margin-right: 5px;
}

.channels-list > li {
   font-size: medium;
   display: flex;
   margin-top: 2px;
   margin-left: 10px;
   margin-right: 5px;
   color: #8E9297;
}

input[type="radio"] + label:hover {
   cursor: pointer;
}

input[type="radio"]:checked + label {
   background-color: #393C43;
   color:white;
}

input[type="radio"]:checked:hover + label {
   color: white;
}

input[type="radio"] + label {
   display: flex;
   justify-content: space-between;
   border-radius: 5px;
   padding: 5px;
   width: 91%;
   height: 100%;
}

input[type="radio"] + label:hover {
   background-color: #34373C;
   color: #DCDDBF;
}

input[type="radio"] + label > button {
   visibility: hidden;
}

input[type="radio"] + label:hover > button {
   visibility: visible;
}

input[type="radio"]:checked + label > button {
   visibility: visible;
}