#posts-component {
   width: 100%;
   height: 100%;
   background-color: #36393F;
   display: flex;
   flex-direction: column;
   padding-right: 5px;
   padding-left: 15px;
   position: relative;
}

#offset{
   padding-bottom: 40px;
   overflow:  auto;
   height: 90%;
   overflow-wrap: anywhere;
}

// Post is exactly 15px from edge of Post component container.
// posts-component (4px) + Scrollbar width (8px) + post margin(3px)
.post {
   display: flex;
   box-sizing: border-box;
   font-size: 14px;
   margin-right: 3px;
   margin-top: 15px;
   padding-top: 2px;
   padding-bottom: 2px;
}

.post:hover {
   background-color: #32353B;
}

.post-edit {
   margin-left: auto;
   margin-right: 5px;
   visibility: hidden;
}

.post-edit * {
   margin-right: 10px;
   color: #B9BBBE;
}

.post:hover > .post-edit {
   visibility: visible;
   cursor: pointer;
}

#post-delete:hover {
   color: red;
}

#post-update:hover {
   color: #DCDDD9;
}

.post-content{
   display: inline-block;
   max-width: 85%;
   padding-right: 10px;
}

.post-content * {
   margin: 5px;
   margin-left: 10px;
}

.show-edit-help * {
   margin-left: 0px;
}

.show-edit-help {
   font-size: small;
   color: #929497;
   display: none;
}

.show-edit-help > span {
   color: deepskyblue;
}

// .show-edit-help > span:hover{
//    cursor: pointer;
//    text-decoration: underline;
// }

.post-reply {
   margin-left: 0px;
   font-size: small;
   color: #929497;
}

.post-reply span {
   font-size: small;
   color: #F9EFDF;
   overflow:hidden;
}

.username {
   font-weight: bold;
}

.username > span {
   font-size: small;
   font-weight: normal;
   color: #70767D;
}

#posts-component > form {
   border-radius: 10px;
   box-sizing: border-box;
   width: 100%;
   position: absolute;
   top: 92%;
   left: 15px;
   padding-right: 30px;
}

// Input box
#post-input {
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   padding-left: 20px; 
   padding-right: 15px;
   background-color: #40444B;
   border-radius: 10px;
}

// Styling for post input text box when user is not a server member. Prevent editing and submitting.
.post-input-deny {
   text-align: center; 
   color: #70767D;
   pointer-events: none;
}

.empty-post {
   margin-top: auto; 
}
.empty-post, #ghost-icon {
   align-self: center;
   user-select: none;
   justify-self: center;
   color: #70767D;
}

#ghost-icon {
   margin-top: 50px;
   font-size: 500%;
   margin-bottom: auto;
}