#user-list-container {
   width: 335px;
   height: 100%;
   background-color: #2F3136;
   padding: 20px;
   box-sizing: border-box;

   display:flex;
   flex-direction: column;
}


.user-container > #post-content * {
   display: inline-block;
   margin: 5px;
}

.user-container > #post-content .post-avatar{
   height: 50px;
   width: 50px;
   font-size: 150%;
}

#user-list-current-user * {
   margin: 5px;
   display: inline-block;
}