#user-list-container {
   width: 335px;
   height: 100%;
   background-color: #2F3136;
   padding: 20px;
   box-sizing: border-box;

   display:flex;
   flex-direction: column;
}

#server-users > div {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

#user-list-current-user {
   width: 100%; 
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 1px solid #4d5257;
   padding-bottom: 4px;
}

.list-username {
   text-align: center;
   max-width: 120px;
   height: 100%;
   margin: 5px;
   overflow-wrap: anywhere;
}

.members-list-item {
   margin: 5px;
}