.profile-picture {
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   background: none;
   margin: 8px;
   transition: border-radius .1s;
   object-fit: cover; /* Do not scale the image */
   object-position: center; /* Center the image within the element */
}

.post-avatar {
   height: 54px;
}

.post-avatar > img {
   width: 50px;
   height: 50px; 
   border-radius: 50%;
   text-align: center;
   line-height: 50px;
   vertical-align: center;
   font-size: 170%;
   background: none;
   margin-top: 2px;
   margin-bottom: 2px;

   object-fit: cover; /* Do not scale the image */
   object-position: center; /* Center the image within the element */
}

.default-avatar {
   width: 50px;
   height: 50px; 
   border-radius: 50%;
   text-align: center;
   line-height: 50px;
   vertical-align: center;
   font-size: 170%;
   background-color: #5865F2;
   margin-top: 2px;
   margin-bottom: 2px;
}

// Server Avatar create/edit page.
.avatar {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 100px; 
   margin: 10px;
   font-size: 300%;
   margin-left: auto;
   margin-right:auto;
   border-radius: 50%;
   text-align: center;
   background-color: white;
}

