.profile-picture {
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   background-color: #36393F;
   margin: 8px;
   transition: border-radius .1s;
}

