.loginWindow {
   width: 800px;
   height: 400px;
   background-color: #36393F;
   //#2f3135
   border-radius: 5px;
   margin-left:auto;
   margin-right: auto;
}

#loginContainer {
   display: flex; 
   flex-direction: row;
   height: 100%;
   width: 100%;
   justify-content: space-between;
}

//Login form group
.loginForm {
   display: flex;
   font-size: medium;
   flex-direction: column;
   margin: 30px;
   width: 55%;
   margin-right: auto;
}

.loginForm > * {
   padding: 2px; 
}

.loginForm input {
   box-sizing: border-box;
   border-radius: 4px;
   color:white;
   width: 100%;
   margin-top: 5px;
   padding: 10px;
   border-color: #222428;
   border-style: solid;
   border-width: 1px;
}

.loginForm input:hover {
   border-color: black;
}

.loginForm input:focus {
   border-color:deepskyblue;
}

.loginForm input[type=text]{
   background-color: #303339;
}

.loginForm input[type=password]{
   color: black;
   background-color: white;
}

.loginForm input[type=submit]{
   background-color: #5865F2;;
   text-align: center;
   border:none;
   height: 45px;
   margin-top: 30px;
   margin-bottom: 5px;
   border-radius: 5px;
}

.loginForm input[type=submit]:hover{
   background-color: #4752C4;
}

.loginForm input[type=submit]:active{
   background-color: #3C45A5;

}

#loginGreeting {
   display: flex; 
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   width: 30%;
   margin: 30px;
}

#loginGreeting > *{
   margin: 10px;
}

#loginGreeting i {
   color: white;
   font-size: 700%;
   transition: color .1s;
}

#loginGreeting i:hover {
  color: #14191E;
  transition: color .1s;
}