.registerWindow{
   width: 485px;
   height: auto;
   background-color:#36393F;
   border-radius: 5px;
   display: inline-block;
   margin-left:auto;
   margin-right: auto;
}

.registerForm > * {
   margin-top: 5px; 
   margin-bottom: 5px;
   margin-left: 2px;
   margin-right: 2px;
}

.registerForm {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 30px;
   align-items: center;
   //background-color: brown;
}

form > label {
   display: inline-block;
   width: 100%;
   margin-top: 20px;
}

.registerForm input{
   box-sizing: border-box;
   color:white;
   border-radius: 4px;
   width: 100%;
   margin-top: 5px;
   padding: 10px;
   border-color: #222428;
   border-style: solid;
   border-width: 1px;
   background-color: #303339;
}

.registerForm input:hover{
   border-color: black;
}

.registerForm input:focus{
   border-color: deepskyblue;
}

.registerForm input[type=submit]{
   background-color: #5865F2;
   margin-top: 30px;
   text-align: center;
   border: none;
   height: 45px;
   
}

.registerForm input[type=submit]:hover{
   background-color: #4752C4;
   //on click = #3C45A5
}

.registerForm input[type=submit]:active{
   background-color: #3C45A5;
}

.registerForm > a {
   align-self: flex-start;
}


