html, body, section, article,
h1, h2, p, strong, em, a, ul, li, div{
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   //font: inherit;
   font-family: 'Pontano Sans', sans-serif;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   list-style: none;
   background: transparent;
}