html, body, section, article,
h1, h2, p, strong, em, a, ul, li, div, input{
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   //font: inherit;
   font-family: 'Open Sans', sans-serif;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   list-style: none;
   background: transparent;
}

// I don't think this changes anything, check later.
label {
   font-family: 'Open Sans', sans-serif;
}

input[type='radio']{
   appearance: none;
}

button {
   background: none;
   color: inherit;
   border: none;
   padding: 0;
   font: inherit;
   cursor: pointer;
   outline: inherit;
}
