// Place all the styles related to the servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #202225 
#server_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   // padding: 5px;
   width: 75px;
   height: 100%;
   background-color: #202225;
}

.server_item {
   border-radius: 50%;
   display:flex; 
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px; 
   background-color: #36393F;

   margin: 8px;
   //margin-top: 7px;
   //margin-bottom: 7px;
}