// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root-app {
   color: white;
   display: flex;
   //justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

body{
   background: url(asset-path("login_background.jpg"));
}

a {
   color:deepskyblue;
}

a:hover {
   text-decoration: underline;
   cursor: pointer;
}

form > label {
   display: inline-block;
   width: 100%;
   margin-top: 20px;
}

button{
   color: #B9BBBE;
   font-size: large;
   font-weight: 600;
   cursor: pointer;
   transition: color .1s;
}

button:hover{
   color: white;
}

// Buttons which indicate removing something.
.destroy:hover{
   color: #ED4245;
}

ul[hidden='true']{
   display: none;
}

input[type="submit"]{
   cursor: pointer;
   transition: color .1s;
}

button i {
   font-size: 75%;
}

/* width */
::-webkit-scrollbar {
   width: 8px;
}
 
 /* Track */
::-webkit-scrollbar-track {
   background: #2E3338; 
   border-radius: 5px;
   margin-top: 10px;
   margin-bottom: 40px;
}
  
 /* Handle */
::-webkit-scrollbar-thumb {
   background: #202225; 
   border-radius: 5px;
}
 